.timeline-option {
    width: 6px;
    height: 6px;
    background: var(--font-color);
    border-radius: 50%;
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(20px / 8);
    border-width: calc(1px / 8);
    border-color: var(--font-color);
    border-style: solid;
}