.timeline-option {
    width: 6px;
    height: 6px;
    background: var(--font-color);
    border-radius: 50%;
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}