.timeline-option {
    position: relative;
    z-index: 20;
    width: 6px;
    height: 6px;
    background: var(--font-color);
    border-radius: 50%;
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(20px / 8);
    cursor: pointer;

}