.timeline-years {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: calc(100vh * (400 / 1080));
    z-index: 11;
    left: 0;
    right: 0;
    padding-left: calc(100vw * (217 / 1920));
    padding-right: calc(100vw * (250 / 1920));
}