@use "/src/mixins" as mixin;

.timeline-control {
    display: flex;
    flex-direction: column;
    padding: 0 var(--span-size);


    & p {
        margin: 0;
        @include mixin.vw(20, "margin-bottom");
    }

    &__buttons {
        display: flex;
        @include mixin.vw(20, "gap");
    }

}