.timeline-control {
    display: flex;
    flex-direction: column;
    padding: 0 var(--span-size);


    & p {
        margin: 0 0 calc(100vw * (20 / 1920)) 0;
    }

    &__buttons {
        display: flex;
        gap: calc(100vw * (20 / 1920));
    }

}