.transparent-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(100vh * (15 / 1080));

    &:nth-child(2n) {}


    &__title {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        padding: 0;
        margin: 0;
        font-size: calc(100vw * (25 / 1920));
        color: var(--blue);
    }

    &__content {
        font-size: calc(100vw * (20 / 1920));
    }
}