.transparent-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(15px, 1.3vh, 1.3vh);

    &:nth-child(2n) {}


    &__title {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        padding: 0;
        margin: 0;
        font-size: clamp(25px, 1.3vw, 1.3vw);
        color: #3877EE;
    }

    &__content {
        font-size: clamp(20px, 1vw, 1vw);
    }
}