$padding-top-calc: calc((170 / 1080) * 100vh);

.main-page {
    height: 1080px;
    padding-left: calc(var(--span-size) * 4);
    padding-right: calc(var(--span-size) * 2);
    box-sizing: border-box;
    position: relative;

    &__widgets-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 393px;
        height: 100%;
        padding-top: clamp($padding-top-calc, $padding-top-calc, $padding-top-calc);
        padding-bottom: clamp(104px, 9.6vh, 9.6vh);
        width: 100%;
        box-sizing: border-box !important;

        & svg {
            right: 265px;
            bottom: 0;
        }


    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 56px
    }

}