$padding-top-calc: 170px;

.main-page {
    height: 1080px;
    padding-left: calc(var(--span-size) * 4);
    padding-right: calc(var(--span-size) * 2);
    box-sizing: border-box;
    position: relative;

    &__widgets-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 393px;
        height: 100%;
        padding-top: 170px;
        padding-bottom: 104px;
        ;
        width: 100%;
        box-sizing: border-box !important;

        & svg {
            position: absolute;
            z-index: 10;
            top: 215px;
            left: 452px;
        }


    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 56px
    }

}