.timeline-option {
    position: relative;
    z-index: 11;
    width: 6px;
    height: 6px;
    background: var(--font-color);
    border-radius: 50%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: calc(20px / 8);
    cursor: pointer;
    z-index: 15;

    & .appearing-disappearing-text {
        position: absolute;
        font-size: calc(100vw * (20 / 1920));
        left: 8px;
        top: 50%;
        transform: translateY(-50%) scale(0.125);
        transform-origin: left center;
        font-weight: bold;
        white-space: nowrap;
    }
}