.circle-button {
    width: calc(100vw * (50 / 1920));
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid var(--font-color-transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 50%;

    &:hover {
        opacity: 100%;
    }

    &--next::after,
    &--prev::after {
        content: url('../../../../assets/Arrow.svg');
        height: 12.5px;
        width: 6.25px;
        font-size: 0;
        stroke-width: 2px;
        margin-left: -1px;
    }

    &--prev::after {
        transform: scaleX(-1);
    }

}