.swiper {
    width: 100%;
    padding: 0 80px;
    box-sizing: border-box !important;
}


.swiper-wrapper {
    box-sizing: border-box;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }

}

.swiper-slide {
    width: 320px;

    &:nth-child(2n) {
        width: 400px;
    }
}


.swiper-button-next,
.swiper-button-prev {
    cursor: pointer;
    margin-top: 0;
    top: 41px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: url('./assets/Arrow.svg');
    height: 10px;
    width: 5px;
    font-size: 0;
    margin-left: -1px;
    margin-top: -1px;

}

.swiper-button-prev::after {
    transform: scaleX(-1);
}

.swiper-button-disabled {
    display: none;
}

.swiper-button-prev {
    left: 20px;
}

.swiper-button-next {
    right: 20px;
}