$position-of-buttons: calc(var(--span-size) / 4);
$buttons-size: calc(var(--span-size) / 2);

.swiper {
    width: 100%;
    min-height: 12.5vh;
    padding: 0 var(--span-size);
    box-sizing: border-box !important;
    position: relative;

    &::after,
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: var(--span-size);
        background-color: var(--bg-creamy);
        z-index: 5;
        pointer-events: none;
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }

    &-wrapper {
        box-sizing: border-box;
        cursor: grab;
        overflow: visible;

        &:active {
            cursor: grabbing;
        }
    }

    &-slide {
        margin-right: clamp(var(--span-size), 4vw, 4vw);
        width: calc(var(--span-size) * 4);

        &:nth-child(2n) {
            width: calc(var(--span-size) * 5);
        }
    }

    & &-button-next,
    &-button-prev {
        cursor: pointer;
        margin-top: 0;
        top: 41px;
        width: $buttons-size;
        height: $buttons-size;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 10;
    }

    &-button-next::after,
    &-button-prev::after {
        content: url('../../../assets/Arrow.svg');
        height: 10px;
        width: clamp(5px, 0.3vw, 0.3vw);
        font-size: 0;
        margin-left: -1px;
        margin-top: -1px;
    }

    &-button-prev::after {
        transform: scaleX(-1);
    }

    &-button-disabled {
        display: none !important;
    }

    &-button-prev {
        left: $position-of-buttons;
    }

    &-button-next {
        right: $position-of-buttons;
    }
}